body {
    display: flex;
    height: 100vh
    ;
    /* flex-direction: default=row */
    flex-direction: row;

    /* Main Axis */
    justify-content: space-around;
    
    /* Cross Axis */
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background: peru;
    color: white;
}