.father {
    display: flex;
    flex-wrap: wrap;
    
    /* flex-direction: default=row */
    flex-direction: row;

    /* Main Axis */
    justify-content: space-between;
    
    /* Cross Axis */
    /* align-items: center;*/
}

.child {
    flex-basis: 30%;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(4) {
    margin-top: 10px;
    
    /* Cross Axis 기준 */
    /* align-self: center; */
    
    /* 위치 변경 */
    /* order: 1; */
}

