.father {
    display: flex;
    height: 80vh
    ;
    /* flex-direction: default=row */
    flex-direction: row;

    /* Main Axis */
    justify-content: space-around;
    
    /* Cross Axis */
    /* align-items: center;*/
}

.child {
    width: 100px;
    height: 100px;
    background: peru;
    color: white;
}

.child:nth-child(2) {
    /* Cross Axis 기준 */
    align-self: center;
    
    /* 위치 변경 */
    order: 1;
}

.child:nth-child(3) {
    align-self: flex-end;
}